@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet');

* {
  padding: 0;
  margin: 0;
  text-decoration: none; //link li vs deki alt çizgi kaldırıldı 
  border: none;
  list-style: none; //li öğelerinin yanındaki noktalar kaldırıldı   
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  font-family: 'Mulish', sans-serif;

  &:focus {
    outline: 0;
  }
}

.cookie-banner {
  background: #fff;
  box-shadow: 0 15px 45px -12px rgba(#001D93, .15); //X düzlemi Y düzlemi Blur Spread ve renk

  &.style1 {
    width: 410px;
    height: 196px;
    border-radius: 5px;
    padding: 35px 35px 25px;
  }
}